/****** Script for SelectTopNRows command from SSMS  ******/
SELECT * FROM [kemalakoglu].[dbo].[AspNetUserTokens]

  SELECT * FROM [kemalakoglu].[dbo].[AspNetUserLogins]

  --delete FROM [kemalakoglu].[dbo].[AspNetUserTokens]

  --delete FROM [kemalakoglu].[dbo].[AspNetUserLogins]